<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= fname %></h1>
    <h1><%= lname %></h1>
    
    <ul>
        <% for (var i=0; i<5; i++) { %>
            <li>Tuna</li>
        <% } %>
    </ul>
</body>
</html>